$major-font: "Roboto Slab", serif;
$minor-font: "Open Sans", sans-serif;

$breakpoint-tablet: 1330px;
$breakpoint-mobile: 769px;

$blue: #33c7fd;
$baby-blue: #00bafd;
$dark-blue: #0d3351;
$beige: #f3f3f3;
$red: #f20542;
