.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: initial;
    height: 200px;
}
.footer__items-container {
    width: 1140px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-top: 28px;
}

.info-links {
    display: flex;
    flex-direction: column;
}

.keep-in-touch {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    align-content: flex-end;

}
.keep-in-touch__icon {
    fill: #0d3351;
    width: 25px; 
    height: 25px;
  }


.info-titles {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.info-titles__phone-number {
    font-weight: bold;
}

.info-titles__support-text {
    font-size: 13px;
}

.info-links a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    .info-links {
        visibility: hidden;
        display: none;
    }
    .footer__items-container {
        flex-direction: column;
        
    }
    .info-titles {
        margin-left: initial;
        align-self: center;
    }
}