.catalog {
    background-color: #f3f3f3;
    color: #0d3351;
    display: flex;
    flex-direction: column;
    width: initial;
    padding-top: 105px;
}

.catalog__items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
   flex-direction: column;
   font-size: 0;
   height: 1072px;
   width: 1140px;
   align-self: center;
}

.catalog__text-cruises {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2.3vw;
    margin-top: 0;
}

.catalog__text-sort {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    margin-bottom: 40px;
}

.item__image {
    width: 555px;
    height: auto;
}


.item__text-container {
    background-color: white;
    
    padding-top: 21px;
    height: 169px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    width: 555px;
}

.item__cruise-name {
    font-size: 15pt;
    color: #00a2dd;
    padding-left: 34px;
    font-family: 'Roboto Slab', serif;
}

.text-container__general-info {
    font-size: 11.5pt;
    padding-left: 34px;
}

.text-container__general-info b {
    font-weight: bold;
}

.item__price {
    margin-top: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 20pt;
    padding-left: 38px;
}

.item__price s{
    font-size: 13pt;
    margin-left: 60px;
    color: gray;
}

.catalog__button {
    font-size: 11.5pt;
    height: 45px;
    width: 200px;
    margin-top: 9px;
    align-self: center;
    background-color: #33c7fd;
    border: none;
    color: ivory; 
    margin-bottom: 60px;
}

.keep-in-touch-icon {
    fill: #0d3351;
    width: 25px; 
  }

@media screen and (max-width: 1330px) {
    .catalog { 
        padding-top: 52px;
    }
    .catalog__text-cruises {
        font-size: 2.1vw;

    }
    .catalog__text-sort {
        margin-bottom: 33px;
    }
    .catalog__items-container {
        height: 1070px;
        width: 720px;
    }
    .item__image {
        width: 345px;
        height: auto;
    }
    .item__text-container {
        width: 345px;
        height: 215px;
        position: relative;
        margin-bottom: 25px;
    }
    .item__cruise-name {
        line-height: 22px;
        margin-top: 4px;
    }
    .text-container__general-info {
        line-height: 22px;
        margin-top: 8px;
    }
    .item__price {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        position: absolute;
        bottom: 38px;
        left: 38px;
    }
    .catalog__button {
        margin-top: 4px;
    }
    .item__image-lighthouse {
        content: url(./tabletsrc/lighthouse.jpg);
    }
    .item__image-sochi {
        content: url(./tabletsrc/sochi.jpg);
    }
    .item__image-beach {
        content: url(./tabletsrc/beach.jpg);
    }
    .item__image-novorossiysk {
        content: url(./tabletsrc/novorossiysk.jpg);
    }
    .item__image-lighthouse {
        content: url(./tabletsrc/lighthouse.jpg);
    }
    .item__sea {
        visibility: hidden;
        display: none;
    }
  }

  @media screen and (max-width: 320px) {
    .catalog__items-container {
        display: initial;
    }
    .item__image {
        width: 290px;
        height: auto;
    }
    .item__text-container {
        width: 290px;
        height: 215px;
        margin-bottom: 20px;
    }
    .catalog {
        padding: 47px 15px 0 15px;
    }
    .catalog__text-cruises {
        font-size: 16.5pt;
    }
    .item__price{
        bottom: 38px;
        left: 38px;
    }
    .item__cruise-name{
        padding-left: 20px;
    }
    .text-container__general-info {
        padding-left: 20px;
    }

  }