.catalog {
    background-color: #f3f3f3;
    padding: 6.4% 15.9% 3% 15.9%;
    color: #0d3351;
    
}

.catalog__items-container {
    display: flex;
    flex-wrap: wrap;
    
   flex-direction: column;
   font-size: 0;
   height: 1200px;
    
}

.catalog__text-cruises {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2.3vw;
    margin-top: 0;
}

.catalog__text-sort {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    margin-bottom: 20px;
}

.item__image {
    width: 32.8vw;
    height: auto;
}

.item__text-container {
    background-color: white;
    
    padding-top: 21px;
    width: 32.8vw;
    height: 190px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 28px;
}

.item__cruise-name {
    font-size: 15pt;
    color: #00a2dd;
    padding-left: 34px;
    font-family: 'Roboto Slab', serif;
    
}



@media screen and (max-width: 1330px) {
    .catalog { 
        padding: 3.5% 22.4% 3% 22.4%;
    }
    .catalog__text-sort {
        margin-bottom: 33px;
    }
    .catalog__items-container {
        height: 1040px
    }
    .item__image {
        width: 26.1vw;
        height: auto;
    }
    .item__text-container {
        width: 26.1vw;
    }
    .item__image-lighthouse {
        content: url(./tabletsrc/lighthouse.jpg);
    }
    .item__image-sochi {
        content: url(./tabletsrc/sochi.jpg);
    }
    .item__image-beach {
        content: url(./tabletsrc/beach.jpg);
    }
    .item__image-novorossiysk {
        content: url(./tabletsrc/novorossiysk.jpg);
    }
    .item__image-lighthouse {
        content: url(./tabletsrc/lighthouse.jpg);
    }
    .item__sea {
        visibility: hidden;
        display: none;
    }
  }