.catalog {
    background-color: #f3f3f3;
    padding: 6% 16% 3% 16%;
    color: #0d3351;
}

.catalog__text-cruises {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2.3vw;
    margin-bottom: -3px;
    margin-top: 0;
}

.catalog__text-sort {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: -3px;
    margin-bottom: 40px;
}

.item__image {
    width: 25.8vw;
    height: auto;
}

@media screen and (max-width: 1330px) {
    .catalog { 
        padding: 3.5% 22.4% 3% 22.4%;
    }
    .catalog__text-sort {
        margin-bottom: 33px;
    }
  }