.footer {
  max-width: 1920px;
  height: 130px;
}

.footer__items-container {
  width: 1140px;
  margin: auto;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding-top: 28px;
  line-height: 25px;
}

@media screen and (max-width: 1330px) {
  .footer__items-container {
    width: 720px;      
  }
}


@media screen and (max-width: 769px) {
  .footer__items-container {
    flex-direction: column;
    width: 250px;
    align-items: center;
  }
}