@use "../common/global" as *;

.info-titles {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.info-titles__phone-number {
  font-weight: bold;
}

.info-titles__support-text {
  font-size: 13px;
}

@media screen and (max-width: $breakpoint-mobile) {
  .info-titles {
    margin-left: initial;
    align-items: center;
  }
}
