@use "../common/global" as *;

.info-links {
  display: flex;
  flex-direction: column;
}

.info-links__link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: $breakpoint-mobile) {
  .info-links {
    visibility: hidden;
    display: none;
  }
}
