@use "../common/globalVariables" as *;

.dropdown__menu {
  width: 22px;
  height: 16px;
  cursor: pointer;
}

.dropdown__content {
  padding: 70px 0px 30px 30px;
  display: none;
  position: absolute;
  background-color: $dark-blue;
  width: 370px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  @media screen and (max-width: $breakpoint-mobile) {
    width: 225px;
  }
}

.dropdown__contetnt-links {
  color: ivory;
  margin: 0 130px 30px 20px;
  text-decoration: none;
  display: block;
}

.dropdown__contetnt-links:hover {
  background-color: $dark-blue;
}

.dropdown:hover .dropdown__content {
  display: block;
}
