@use "../common/globalVariables" as *;
@use "../common/globalExtends" as *;

.header {
  max-width: 1920px;
  height: 647px;
  background-image: url(../img/sochiBackground.jpg);
  background-position: center center;
  background-size: cover;

  @media screen and (max-width: $breakpoint-tablet) {
    height: 600px;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    height: 582px;
  }
}

.header__content-container {
  @extend %flex-with-centric-content;
  flex-direction: column;
  width: 1140px;
  height: 100%;
  margin: auto;
  color: $dark-blue;
  font-family: $major-font;

  @media screen and (max-width: $breakpoint-tablet) {
    width: 720px;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    width: 270px;
  }
}

.header__upper-header {
  @extend %flex-with-centric-content;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 20px;

  @media screen and (max-width: $breakpoint-tablet) {
    margin-bottom: 77px;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    margin-bottom: 55px;
  }
}

.header__nav-wrapper {
  margin-right: auto;
}

.header__menu-container {
  display: flex;
  font-size: 15px;
}

.header__menu-item {
  margin-left: 50px;
  font-family: $minor-font;

  @media screen and (max-width: $breakpoint-mobile) {
    visibility: hidden;
    display: none;
  }
}

.header--with-logo {
  display: flex;
}

.header__svg-logo {
  margin-top: 3px;
  margin-right: 3px;
}

.header__support-text {
  font-size: 11px;
}

.header__support-number {
  font-weight: bolder;
}

.header__logo {
  @media screen and (max-width: $breakpoint-mobile) {
    position: absolute;
    top: 25px;
  }
}

.header__text-sea-walks {
  font-size: 39px;

  @media screen and (max-width: $breakpoint-tablet) {
    font-size: 28px;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 22px;
  }
}

.header__text-black-sea {
  font-size: 96px;
  margin-top: 19px;
  margin-bottom: 34px;

  @media screen and (max-width: $breakpoint-tablet) {
    font-size: 69px;
    margin: 0;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    text-align: center;
    font-size: 48px;
    margin-top: 13px;
    line-height: 48px;
    margin-bottom: 38px;
  }
}
