@use "../common/global" as *;

.header {
  max-width: 1920px;
  height: 647px;
  background-image: url(../img/sochiBackground.jpg);
  background-position: center center;
  background-size: cover;
}

.header__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1140px;
  height: 100%;
  margin: auto;
  color: $dark-blue;
  font-family: $major-font;
}

.header__upper-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 20px;
}

.header__nav-wrapper {
  margin-right: auto;
}

.header__menu-container {
  display: flex;
  font-size: 15px;
}

.header__menu-item {
  margin-left: 50px;
  font-family: $minor-font;
}

.header--with-logo {
  display: flex;
}

.header__svg-logo {
  margin-top: 3px;
  margin-right: 3px;
}

.header__support-text {
  font-size: 11px;
}

.header__support-number {
  font-weight: bolder;
}

.header__text-sea-walks {
  font-size: 39px;
}

.header__text-black-sea {
  font-size: 96px;
  margin-top: 19px;
  margin-bottom: 34px;
}

@media screen and (max-width: $breakpoint-tablet) {
  .header {
    height: 600px;
  }

  .header__content-container {
    width: 720px;
  }

  .header__upper-header {
    margin-bottom: 77px;
  }

  .header__text-sea-walks {
    font-size: 28px;
  }

  .header__text-black-sea {
    font-size: 69px;
    margin: 0;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .header {
    height: 582px;
  }

  .header__content-container {
    width: 270px;
  }

  .header__upper-header {
    margin-bottom: 55px;
  }

  .header__menu-item {
    visibility: hidden;
    display: none;
  }

  .header__logo {
    position: absolute;
    top: 25px;
  }

  .header__text-sea-walks {
    font-size: 22px;
  }

  .header__text-black-sea {
    text-align: center;
    font-size: 48px;
    margin-top: 13px;
    line-height: 48px;
    margin-bottom: 38px;
  }
}
