
.header {
    width: 100%;
    background-image: url(../img/sochiBackground.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header__content-container {
    display: flex;
    flex-direction: column;
    width: 1140px;
    height: 647px;
    margin: auto;
    color: #0d3351;
}

.header__logo {
    max-width: 88px;
    align-self: center;
    margin: -40px 1px 0 0;
}

.header__text-sea-walks {
    align-self: center;
    font-family: 'Roboto Slab', serif;
    color: #0d3351;
    font-size: 2.3vw;
    
    margin: 0 0 0 0;
}

.header__text-black-sea {
    align-self: center;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #0d3351;
    font-size: 5.7vw;
    margin: 22px 0 32px 0;
}

.header__button {
    align-self: center;  
}

.header__upper-header {
    display: flex;
    justify-content: flex-end;
}

.header__menu-container {
    display: flex;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    color: #0d3351;
    font-size: 15px;
    margin-top: 20px; 
}

.header__menu-item {
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
}

.header__text {
  padding-top: 15px;
}

.header__dropdown-menu {
    width: 22px;
    height: 16px;
    margin: 32px 0 0 0;
    cursor: pointer;
}

.header__dropdown {
  
    position: relative;
  display: inline-block;
  margin-right: auto;
}

.dropdown-content {
  padding: 70px 0px 30px 30px;
    font-family: 'Roboto Slab', serif;
    display: none;
    position: absolute;
    background-color: #0d3351;
    width: 370px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: ivory;
    margin-right: 130px;
    margin-left: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    display: block; 
  }

  .dropdown-content a:hover {
      background-color: #092337;
    }

  .header__dropdown:hover .dropdown-content {
    display: block;
  }

.header__support-text {
    margin-top: 0;
    font-size: 11px;
}

.header__support-number {
    padding-top: 10px;
    margin-bottom: 0;
    font-weight: bolder;
}

.header_with-logo {
    display: flex;
}

.header__currency-logo {
    fill: #33c7fd;
    margin: -48px 5px 0 0;
    padding: 0 0 0 0;
    width: 13px; 
  }

  .header__person-logo {
    fill: #33c7fd;
    margin: -49px 5px 0 0;
    padding: 0 0 0 0;
    width: 16px;
    min-width: 16px;  
  }

  @media screen and (max-width: 1330px) {

    .header__content-container {
      width: 720px;
      height: 600px;
    } 

    .header__text-black-sea {
      font-size: 5.2vw;
      margin: 0 0 0 0;
    }
  }

  @media screen and (max-width: 769px) {

    .header__menu-item {
      visibility: hidden;
      display: none;
    }
    
    .header__content-container {
      width: 270px;
    }

    .header {
      height: 582px;
    }

    .header__dropdown {
      margin-right: 257px;
      margin-top: -5px;
    }

    .header__logo {
      position: absolute;
      margin: 25px 0 0 0;
    }

    .header__text-sea-walks {
      margin-top: 60px;
      font-size: 14.5pt;
    }

    .header__text-black-sea{
      font-size: 36pt;
      margin-top: 13px;
      line-height: 50px;
      margin-bottom: 30px;
    }
  }