@use "../common/global" as *;

.catalog {
  @extend %flex-with-centric-content;
  background-color: $beige;
  color: $dark-blue;
  flex-direction: column;
  max-width: 1920px;
  height: 1303px;
  padding-top: 105px;
}

.catalog__items-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: column;
  font-size: 0;
  height: 1072px;
  width: 1140px;
  margin-bottom: 10px;
}

.catalog__text-cruises {
  font-family: $major-font;
  font-size: 39px;
}

.catalog__text-sort {
  font-family: $minor-font;
  font-size: 15px;
  margin-bottom: 42px;
}

@media screen and (max-width: $breakpoint-tablet) {
  .catalog {
    padding-top: 52px;
    height: 1269px;
  }

  .catalog__text-cruises {
    font-size: 29px;
  }

  .catalog__text-sort {
    margin-bottom: 33px;
  }

  .catalog__items-container {
    height: 1070px;
    width: 720px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .catalog {
    padding: 47px 15px 0 15px;
    height: 2100px;
  }

  .catalog__text-cruises {
    font-size: 16.5pt;
  }

  .catalog__items-container {
    width: 290px;
    height: 1944px;
  }
}
