@use "../common/global" as *;

.general-info {
  font-size: 15px;
  line-height: 30px;
  font-family: $minor-font;
}

.general-info b {
  font-weight: bold;
}

@media screen and (max-width: $breakpoint-tablet) {
  .general-info {
    line-height: 22px;
  }
}
