@use "../common/global" as *;

.popup-sea__container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  font-size: 15px;
}

.popup-sea-container__close {
  text-decoration: none;
  color: inherit;
}

.popup-sea__container:target {
  visibility: visible;
  opacity: 1;
}

.popup-sea-container__content {
  margin: 100px auto;
  padding: 50px;
  background: $beige;
  width: 750px;
  position: relative;
}

.popup-sea-container__close {
  float: right;
  font-size: 40px;
}

.popup-sea-container__wraper {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 20px 0;
}

.popup-sea-container__image-container {
  display: flex;
  width: 360px;
  height: 305px;
  flex-direction: column;
  justify-content: space-between;
}

.popup-sea-container__small-image-wrapper {
  display: flex;
  justify-content: space-between;
}

.popup-sea-container__text {
  width: 360px;
}

.popup-sea-container__cruise-name {
  margin-bottom: 20px;
}

.popup-sea-container__price {
  margin-top: 20px;
  margin-bottom: 10px;
}

.popup-sea-container__button {
  margin-top: 9px;
}
